# Feature Engineering and Modelling on Customer Churn Dataset

## Import packages

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pandas as pd
# Set plot style
sns.set_style("darkgrid")
%matplotlib inline

---
# 1. Loading data with Pandas
---
We need to load `client_data.csv` and `price_data.csv` into individual dataframes so that we can work with them in Python. For this notebook and all further notebooks, it will be assumed that the CSV files will the placed in the same file location as the notebook. If they are not, please adjust the directory within the `read_csv` method accordingly.

In [3]:
client_df = pd.read_csv('C:/Users/kames/Downloads/ML project/1. Customer Churn Analysis/client_data.csv')
price_df = pd.read_csv('C:/Users/kames/Downloads/ML project/1. Customer Churn Analysis/price_data.xls')

Lets Explore `price_df` and `client_df` to find how can we merge both datasets.

In [9]:
price_df.head()

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

`price_df` is monthly data. We must find how how many months of data we have for each user.

In [10]:
price_df.id.value_counts()

038af19179925da21a25619c5a24b745    12
97589d95ec46ab31ef238d18a616403f    12
97adbcd721fae4874f7ee287ea84200d    12
d74b4544363be674855cf931b6b8af25    12
27276020e48d73f589788d4e37c51879    12
                                    ..
83cf18b07114e495ae8b7fb235e45ee2     8
3e459d61dc831e29f8a9a9a59f95efd2     8
c5dcd5c506e565aaabffa29bc1ec0a37     7
bf89f2d8c1b133a134fd93603cb4c947     7
15b36e47cf04bf151e3f4438d12672e5     7
Name: id, Length: 16096, dtype: int64

It can be seen that we have 12 months of data for every user and there are few user who might have chruned in between so for them we have data for less than 12 months.

Now, since the price information is monthly, we can't able to merge it directly with the client data. Some feature transformations need to be done to derive the yearly prices.
- The off-peak and mid-peak of energy follow a linear flow, so we can take the average of the monthly prices. 
- The energy off-peak price was high at the beginning of the year and low at the end of the year. So we take the price difference as a consolidated value.